.montonio_payment_option_content {
    display: flex;
    flex-direction: column;
}

p.payment_module.montonio_payment_module a {
    padding: 33px 40px 34px 15px;
    background: #fbfbfb;
}

p.payment_module.montonio_payment_module.has-details {
    margin-bottom: 0;
}

p.payment_module.montonio_payment_module.has-details a {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding-bottom: 0;
    cursor: auto;
}

.montonio_payment_option_details {
    margin-bottom: 10px;
    background-color: #fbfbfb;
    border: 1px solid #d6d4d4;
    border-top: none;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    overflow: hidden;
    padding: 15px;
    box-sizing: border-box;
}

p.payment_module.montonio_payment_module a img {
    height: 42px;
    margin-right: 8px;
}

p.payment_module a.chevron-right:after {
    display: block;
    content: "\f054";
    position: absolute;
    right: 15px;
    margin-top: -11px;
    top: 50%;
    font-family: "FontAwesome";
    font-size: 25px;
    height: 22px;
    width: 14px;
    color: #777777;
}

.montonio_payment_option_details .button-submit-payment {
    display: block;
    margin-left: auto;
    margin-top: 1em;
}

/* 
.montonio_payment_option_details .button-submit-payment {
    display: block;
    margin-left: auto;
}

.montonio_payment_option_details.same-level {
    display: flex;
    flex-direction: row;
}

.montonio_payment_option_details.same-level section:first-child {
    flex-grow: 1;
}
.montonio_payment_option_details.same-level .button-submit-payment {
    margin-top: calc(1em + 2px);
    margin-left: 15px;
} */

#montonio-spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height:100%;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

#montonio-spinner {
    width: 40px;
    height: 40px;
    border: 4px #F0EEFB solid;
    border-top: 4px #558AFF solid;
    border-radius: 50%;
    animation: montonioAnimateSpinner 0.8s infinite linear;
}

@keyframes montonioAnimateSpinner {
    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 768px) {
    .montonio_payment_option_details.same-level {
        display: block;
    }

    .montonio_payment_option_details.same-level .button-submit-payment {
        margin-left: auto;
        display: block;
    }
}

#wrapper .opc_payment_method li .montonio-payment-method .paymentInfo {
    display: block !important;
}