/*
 * Custom code goes here.
 * A template should always ship with an empty custom.css
 */

.inside-contact-block {
    font-size: .875rem;
    margin-left: 15px;
}

i.material-icons.in-footer-icons {
    margin-left: -27px;
}

.maxsote_hotinfo {
    width: 100%;
    padding: 10px 0px;
    color: rgb(255, 255, 255);
    background: rgb(213, 15, 124);
    font-size: 10pt;
    text-align: center;
    font-weight: 600;
    z-index: 1000;
    top: 0px;
    cursor: pointer;
    position: relative;
    box-sizing: initial;
    height: auto;
}

.k_phrases {
    width: 88%;
    margin: 0px 6%;
    text-align: center;
    white-space: normal;
    max-height: unset;
    line-height: 150%;
}

.k_phrase.hotinfo_phrase_2 {
    width: 88% !important;
    margin: 0px 6% !important;
    color: rgb(255, 255, 255) !important;
    text-align: center !important;
    white-space: normal !important;
    max-height: unset !important;
    line-height: 150% !important;
    font-weight: 900 !important;
}

.yellow-line {
    height: 7px;
    border-radius: 0 0 7px 7px;
    background: #f6a802;
}

#search_widget {
    float: left;
}

@media only screen and (min-width: 992px) {
    #search_widget {
        min-width: 40rem;
    }
}

#_desktop_user_info {

    float: right;
    margin-right: 70px;
}

.gray-line-vertical {
    width: 1px; 
    height: 77%;
    background: #ededed;
    position: absolute;
    left: 70%;
    top: 47px;         
}

.gray-line-horizontal {
    width: 67%;
    margin: 1rem auto;
    height: 1px;
    background: #ededed;
}

#_desktop_cart {
    float: right;
    margin-right: -120px;
    margin-top: 10px;
}

.header-top-right.col-md-10.col-sm-12.position-static {
    font-size: 12px !important;
}

.material-icons.signIn {
    color: #f6a802;
    content: "g01-login";
}

.material-icons.signIn.login {
    height: auto;
    width: 1.3rem;
    margin-right: 4px;
    content: url("../img/login.png")
}

.material-icons.signIn.logout {
    height: auto;
    width: 1.3rem;
    margin-right: 4px;
    content: url("../img/logout.png")
}

.login-register {
    display: flex;
    flex-direction: column;
}

.user-logged {
    display: flex;
    flex-direction: column;
}


#search_widget form i {
    position: absolute;
    right: 3%;
    padding: .5rem;
}

#search_widget form input {
    width: 100%;
    padding: 10px 20px 10px 13px;
    outline: none;
    background-color: white;
    border-style: solid;
    border-color: lightgray;
    border-width: 0.5px;
    border-radius: 5px;
}

#content-wrapper.js-content-wrapper {
    padding-top: 35px;
}

p, .page-content.page-cms ul {
    color: black;
}

.hidden-sm-down.bold, .cart-products-count.bold {
    color: black;
    font-weight: 900;
}

.page-content.page-cms {
    padding: 0;
}

#wrapper {
    background: white;
}

body {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 400;
    font-size: 14px;
    background: #fff;
    opacity: 1;
}/*
body {
    font-family: 'Open Sans', sans-serif;
    color: #000;
    background-color: #fff;
    font-size: 13px;
    line-height: 18px;
}*/

#top-menu li a.dropdown-item {
    text-transform: none;
}

#top-menu {
    margin-left: -30px;
}

#top-menu li a.dropdown-item[data-depth="0"] {
    font-size: 12px;
    padding-right: 4px;
    text-transform: none;
    color: black;
    font-weight:lighter;
}

#top-menu li a.dropdown-item[data-depth="0"]::after{
    content: "keyboard_arrow_down";
    font-family: 'Material Icons';
    font-size: 18px;
    vertical-align: middle;
}

#top-menu li a.dropdown-item[data-depth="0"]:hover {
    color: #f6a802;
}

@media screen and (min-width: 1367px) {
    .container.social-media {
        max-width: 1320px;
    }
}
.container.social-media {
    max-width: 1180px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

#shoper-foot>div:first-child .container.social-media:before {
    height: 5px;
    width: 100%;
    border-radius: 3px;
    background: #f6a802;
    margin-bottom: 40px;
    display: block;
}
.container.social-media::before, .container.social-media::after {
    display: table;
    line-height: 0;
    content: '';
}

@media screen and (min-width: 980px) {
    #shoper-foot .wce_footer-social .right {
        height: 0;
        text-align: right;
        float: right;
    }
}
@media screen and (min-width: 980px) {
    #shoper-foot .left, #shoper-foot .right {
        width: 50%;
        text-align: left;
    }
}
#shoper-foot .left, #shoper-foot .right {
    float: none;
    text-align: center;
}
.right {
    float: right;
}

.wce_footer-social a.wce_social-ico {
    margin: 0 0 40px;
    display: inline-flex;
    width: 48px;
    min-width: 48px;
    height: 48px;
    align-items: center;
    justify-content: center;
    background: #f9f9f9;
    color: #000;
    font-size: 20px;
    border-radius: 3px;
    transition: background-color .3s ease-in-out, color .3s ease-in-out;
    will-change: background-color, color;
    padding: 0 !important;
    vertical-align: middle;
}

.fa-facebook:before {
    content: "\f09a";
}
.fa::before, .fa::after {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wce_footer-social a.wce_social-ico span {
    display: none;
}

.fa-instagram:before {
    content: "\f16d";
}

#shoper-foot {
    padding: 0% 0% 3% 0%;
}

@media (min-width: 768px) {
    .col-md-12.copyright {
        float: left;
        margin: -1% 0% 0% 0%;
        width: 40%;
    }
}

.wce_footer-social a.wce_social-ico:hover {
    background: #398c01;
    color: #fff;
}

#shoper-foot .separator:before {
    content: " | ";
    margin: 0 .3em;
}

.copyright_link.shop-gadget.shoper{
    display: block !important;
    overflow: visible !important;
    opacity: 1 !important;
    font-size: 13px !important;
    position: static !important;
    text-indent: 0 !important;
    color: #555 !important;
    visibility: visible !important;
}

.copyright_link.shop-gadget.shoper a{
    display: inline !important;
    overflow: visible !important;
    opacity: 1 !important;
    font-size: 13px !important;
    position: static !important;
    text-indent: 0 !important;
    color: #555 !important;
    visibility: visible !important;
}

.copyright_link.shop-gadget.shoper a:hover {
    text-decoration: underline;
}

@media (min-width: 768px) {
    .col-md-6.links {
        float: left;
        width: 100%;
    }
}

@media (min-width: 768px) {
    .col-md-6.wrapper {
        float: left;
        width: 25%;
    }
}

p.h3.hidden-sm-down {
    display: grid;
    text-transform: none;
    grid-template-columns: 20px 1fr;
    grid-gap: 10px;
    padding: 0 0 10px;
    font-size: 20px;
}

p.h3.hidden-sm-down::before {
    content: "";
    width: 100%;
    height: 7px;
    background: #f6a802;
    border-radius: 4px;
    margin: 33% 0% 0% 0%;
}

.box::before, .box::after {
    display: table;
    line-height: 0;
    content: '';
}

@media screen and (min-width: 1367px) {
    .innerbox.container {
        max-width: 1320px;
    }
}

.innerbox.container {
    max-width: 1180px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.innerbox.container::before, .innerbox.container::after {
    display: table;
    line-height: 0;
    content: '';
}

.wce_listWrap.wce_as-row {
    overflow: hidden;
    margin: 20px;
}

.wce_listWrap.wce_as-row .wce_groupList {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    border: none;
    margin-left: -1px;
    margin-top: -1px;
}
.wce_listWrap .wce_groupList {
    text-align: center;
    border: 2px solid #d8d8d8;
    border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@media screen and (min-width: 980px) {
    .wce_listWrap.wce_as-row .wce_group {
        -webkit-flex: 1 0;
        -ms-flex: 1 0;
        flex: 1 0;
        border-left: 1px solid;
    }
}
.wce_listWrap.wce_as-row .wce_group {
    padding: 20px 10px;
    margin: 0;
    box-sizing: border-box;
}
.wce_listWrap .wce_group {
    position: relative;
    padding: 5px;
    margin: 0 5px;
}

.wce_listWrap .wce_group .wce_link {
    position: absolute;
    display: block;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    z-index: 1;
}

.wce_link:hover ~ .wce_h3 {
    text-decoration: underline !important;
}

.wce_listWrap .wce_group .img-wrap {
    display: block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: 0 auto;
    font-size: 50px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.footer-tags.promotion-sale {
    content: url("../img/sale.png");
    height: auto;
    width: 3.3rem;
}

.footer-tags.high-quality {
    content: url("../img/quality.png");
    height: auto;
    width: 3.3rem;
}

.footer-tags.quick-delivery {
    content: url("../img/delivery.png");
    height: auto;
    width: 3.3rem;
}

.footer-tags.trust-positive {
    content: url("../img/correct.png");
    height: auto;
    width: 3.3rem;
}

.wce_listWrap .wce_group .wce_h3 {
    font-weight: normal;
    margin: 7px 0;
    display: block;
    line-height: 1.1em;
    font-size: 15px;
}

.wce_listWrap .wce_group .wce_description {
    line-height: 1.1em;
}

.wce_listWrap .wce_group .wce_counter-wrap {
    display: block;
    height: 50px;
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.wce_listWrap .wce_group .wce_counter-wrap .wce_counter.wce_visible {
    opacity: 1;
}
.wce_listWrap .wce_group .wce_counter-wrap .wce_counter {
    font-size: 2em;
    line-height: 1em;
    opacity: 0;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
}

.wce_description {
    font-size: 0.9rem !important;
}



.banner {
    position: relative;   /* Pozwala na wychodzenie poza kontener */
    width: 100vw;         /* Ustawia szerokość banera na 100% szerokości ekranu */
    margin-left: calc(-50vw + 50%);  /* Przesuwa baner na całą szerokość okna */
}

.banner img {
    width: 100%;     /* Ustala szerokość obrazka na 100% szerokości kontenera */
    height: auto;    /* Utrzymuje proporcje obrazka */
    display: block;  /* Usuwa przestrzeń pod obrazkiem */
}

.product-container .product-flags li.product-flag.discount-percentage, .product-flags li.product-flag.discount-amount, .product-flags li.product-flag.discount {
    background-color: #f6a802;
    border-radius: 2rem;
}

.promo {
    border-radius: 0.5rem;
    position: absolute;
    left: 0;
    background-color:#c40000 ;
    padding: 0.3125rem 0.4375rem;
    color: #fff !important;
}

.product-container .product-flags li.product-flag {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0.5125rem 1.9375rem;
    position:absolute;
    bottom: 0;
    right: 0;
    margin-top: .625rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    pointer-events: auto;
    background: #f6a802;
}
.product-container .product-flags {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 18%;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    pointer-events: none;
}

.product-width {
    width: 140%;
    margin-left: -20%;
}

#wrapper .breadcrumb li::after {
    color: rgb(246, 168, 2);
    font-weight: 900;
    content: ">";
    margin: 0.3125rem;
}

.col-md-6.product-content-1 {
    width: 40%;
}

.col-md-6.product-content-2 {
    width: 55%;
}

.product-line {
    height: 3px;
    width: 100%;
    border-radius: 3px;
    background: #f6a802;
    margin-bottom: 20px;
    display: block;
}

span.cena-name {
    color: #f6a802;
    font-weight: 900;
}

span.current-price-value {
    display: inline-block;
    color: black;
    font-size: 2rem;
}

span.product-price {
    display: inline-block;
    color: black;
    font-size: 2rem;
}

.product-discount {
    color: #333333;
}

span.regular-price {
    color: #000;
    font-weight: 900;
}

.product-actions.js-product-actions {
    background-color: #f9f9f9;
}

form#add-to-cart-or-refresh {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    padding-top: 0.5rem;
}

.row {
    margin-right: -15px;
    margin-left: 0px;
}

.manufacturer, .delivery, .shipping-costs, .availability {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    padding: 5px 0;
    font-size: 14px;
}

.hint:hover .icon {
    color: #3c83ec;
}

.hint .icon {
    vertical-align: middle;
}

.icon {
    font-size: 1rem;
}

.hint__content {
    position: absolute;
    display: none;
    right: 1.5%;
    top: calc(100% + -9px);
    font-size: 13px;
    line-height: 1.5em;
    z-index: 5;
    min-width: 258px;
    padding: 1rem;
    text-align: left;
    background-color: #fff;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

.hint__content::after {
    content: '';
    display: block;
    position: absolute;
    top: -14px;
    right: 4px;
    border-width: 7px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}

.hint:hover .hint__content {
    display: block;
}

.availability {
    grid-column-gap: 5px;
}

.shipping-costs .showShippingCost {
    grid-column-start: 2;
    grid-row-start: 2;
    text-align: left;
    width: auto;
    color: #000;
    font-size: 0.8em;
    text-decoration: underline;
}

.showShippingCost:hover {
    text-decoration: none;
}



.product-miniature {
    height: 100%;
    padding: 10px;
    border-bottom: 1px solid #d8d8d8;
}

.product-miniature .product-description {
    padding: 0;
    margin: 10px 0 0px !important;
}

.product-miniature .thumbnail-container {
    margin: 10px 0 0px !important;
    display: flex;
    flex-direction: column;
}

.product-miniature .product-flag.discount {
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 1.4em;
    background-color: #f6a802;
    color: #fff;
    padding: .4em 1.5em;
    line-height: 1em;
    font-weight: 500;
    border-radius: 1.4em;
    font-style: normal !important;
}


.product-miniature .product-price-and-shipping {
    min-height: 0 !important;
    margin: 0 0 10px !important;
    padding: 25px 0 0 !important;
}

.product-miniature-price {
    font-family: 'Montserrat',sans-serif;
    text-align: left !important;
    background: transparent;
    margin: 0;
    padding: 0 0 20px;
    border: 0;
    outline: 0 none;
    line-height: 22px;
    font-style: normal;
    font-size: 16px;
    font-weight: 700;
    color: #000;
}

.product-miniature .product-title a {
    border: 0;
    outline: 0 none;
    background: transparent;
    color: #000;
    text-align: left !important;
    font-family: 'Montserrat',sans-serif;
    height: 2.4em !important;
    font-size: 1em !important;
    line-height: 1.2em !important;
    margin: 0 !important;
    padding: 0 !important;
    font-weight: 500;
    top: 0;
    left: 0;
    right: 0;
}

.regular-price-label {
    font-family: 'Montserrat',sans-serif;
    text-align: left !important;
    background: transparent;
    border: 0;
    margin: 0;
    font-weight: 500;
    line-height: 1.5em;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #d8d8d8;
    grid-gap: 0.2em;
    align-items: end;
    margin-top: 0;
    color: #666;

    min-height: 0 !important;
    margin: 0 0 10px !important;
    padding: 0 0 0 !important;
}

.regular-price-label del {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0 none;
    text-decoration: line-through;
    font-size: 12px;
    color: #6a6a6a;
    font-weight: 500;
    line-height: 1.5em;
    text-align: center;
    display: inline;
}


.main-page-add-to-cart-button {
    outline: 0 none;
    max-width: 100%;
    position: relative;
    text-transform: lowercase;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    margin: 0;
    box-sizing: border-box;
    height: 48px;
    line-height: 1em;
    padding: 0 15px;
    font-size: 13px;
    font-weight: 500;
    font-family: 'Montserrat',sans-serif;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    transition: background-color .3s ease-in-out,color .3s ease-in-out,border-color .3s ease-in-out;
    will-change: background-color,border-color,color;
    border: 1px solid #f6a802;
    color: #fff;
    border-color: #f6a802;
    box-shadow: none;
    background: #f6a802;
}

.main-page-add-to-cart-button:hover {
    transition: background-color .3s ease-in-out,color .3s ease-in-out,border-color .3s ease-in-out;
    will-change: background-color,border-color,color;
    color: #fff;
    border-color: black;
    background: black;
}

.main-page-add-to-cart-form {
    text-align: left !important;
    padding: 0;
    border: 0;
    outline: 0 none;
    font-size: 100%;
    background: transparent;
    margin-top: auto;
    margin-bottom: 0px;
}

.product-miniature .thumbnail-container:hover .product-description::after {
    border: 0;
}

.product-miniature .product-flags {
    height: 100%;
}

.product-miniature .promo {
    display: none;
}

.product-add-to-cart .btn-primary {
    outline: 0 none;
    max-width: 100%;
    position: relative;
    text-transform: lowercase;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    margin: 0;
    box-sizing: border-box;
    height: 48px;
    line-height: 1em;
    padding: 0 54px;
    font-size: 13px;
    font-weight: 500;
    font-family: 'Montserrat',sans-serif;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    transition: background-color .3s ease-in-out,color .3s ease-in-out,border-color .3s ease-in-out;
    will-change: background-color,border-color,color;
    border: 1px solid #f6a802;
    color: #fff;
    border-color: #f6a802;
    box-shadow: none;
    background: #f6a802;
}
.product-add-to-cart .btn-primary:hover {
    transition: background-color .3s ease-in-out,color .3s ease-in-out,border-color .3s ease-in-out;
    will-change: background-color,border-color,color;
    color: #fff;
    border-color: black;
    background: black;
}

.product-images>li.thumb-container>.thumb.selected, .product-images>li.thumb-container>.thumb {
    border: #c8c8c8 2px solid;
}

.product-images>li.thumb-container>.thumb.selected:hover, .product-images>li.thumb-container>.thumb:hover {
    border: #c8c8c8 3px solid;
}

.h1 {
    font-weight: 900;
    font-size: 1.8rem;
    text-transform: none;
}

.inpostizi-button-rounded .inpostizi-bind-button-body {
    border-radius: 8px !important;
}

.inpostizi-bind-button-primary .inpostizi-bind-button-body {
    background: #ffcd00;
}
.inpostizi-bind-button-body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    cursor: pointer;
    user-select: none;
    min-height: 48px;
    padding: 8px;
}
.inpostizi-button * {
    box-sizing: border-box;
}

.size-220x80.inpostizi-bind-button .inpostizi-bind-button-content {
    font-size: 10px;
}

.size-220x80 .inpostizi-bind-button-content, .size-220x68 .inpostizi-bind-button-content, .size-220x64 .inpostizi-bind-button-content, .size-220x60 .inpostizi-bind-button-content {
    gap: 6px;
}
.inpostizi-bind-button .inpostizi-bind-button-content {
    gap: 12px;
}
.inpostizi-bind-button-content {
    font-family: "Inpost Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
    letter-spacing: 0.3px;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    white-space: nowrap;
}

.size-240x80 .inpostizi-button-bottom, .size-220x80 .inpostizi-button-bottom, .size-220x68 .inpostizi-button-bottom, .size-220x64 .inpostizi-button-bottom, .size-220x60 .inpostizi-button-bottom {
    font-size: 10px;
}

.inpostizi-button .inpostizi-button-bottom {
    color: #262628 !important;
}
.inpostizi-button-bottom {
    font-family: "Inpost Montserrat";
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.4px;
    text-align: center;
    color: inherit;
    padding: 8px 0;
    display: inline-block;
    width: 100%;
}

.inpostizi-button-bottom-link {
    color: #ff2b7e;
    text-decoration: none;
    text-transform: capitalize;
}

.product-quantity .add {
    display: inline-flex;
    flex-direction: column;
    gap: 1rem;
}

.inpostizi-button-bottom {
    text-align: center; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    padding: 10px; 
    word-wrap: break-word; 
    word-break: break-word;
    max-width: 100%; 
    box-sizing: border-box; 
}
  
.inpostizi-button-bottom-link {
    display: inline-block; 
    text-decoration: none; 
    text-align: center; 
    white-space: normal;
}
  
.size-220x80.inpostizi-bind-button .inpostizi-bind-button-content .inpostizi-image-logo {
    width: 70.83px;
    height: 20px;
}
.inpostizi-image-logo {
    background-image: url(https://static.inpost.pl/izi_images/inpost3.svg);
}
.inpostizi-bind-button-content .inpostizi-image-logo {
    width: 85px;
    height: 24px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    min-width: 25.86px;
}

.manufacturer>a:hover {
    text-decoration: none;
    color: #000;
}
.manufacturer>a {
    color: #000;
    font-weight: 500;
    position: relative;
    text-decoration: underline;
}