prestashop/psdata/var/cache
prestashop/psdata/var/logs
prestashop/psdata/var/sessions
prestashop/psdata/img/tmp

.git/

# comment this out to include product images in the build
prestashop/psdata/img